{% extends "base.html" %}

{% block content%}
 <style>
 </style>
        <h1>Add A Blog Entry</h1> 
        <hr />
        <form action = "/newpost" method = 'post'>
            <label>
                Title For Your New Blog:
                <br>
                <input type="text" name="title" />
                <p class = "error">{{title_error}}</p>
            </label>
            <br>
            <label>
                Your New Blog:<br>
                <textarea name="body"></textarea>
                <p class = "error">{{body_error}}</p>
                
            </label>
            <br>
            <input type="submit" value="Add Entry!" />
        </form>

        

{% endblock %}